html{
    background-color: #1b1b1b;
    font-size: 16px;
}
body{
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    user-select: none;
}
.HomePage{
    margin: 0%;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 11em;
}
.logotext{
    width: 12em;
}

.transition{
    animation-name: Animate;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes Animate{
    from{

    }
    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);
    }
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
  }
  .hidden{
      display: none;
  }
.adjust{
    cursor: pointer;
    /* height: 40px; */
    height: 1.8em;
    border-radius: .5em;
    border: solid 2px white;
}
.light{
    color: rgba(170, 170, 170, 0.637);
}
.imgPic{
    position: relative;
}
.row{
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adjusticon{
    height: 2.2em;
}
@media (max-width:440px) 
{
    html{
        font-size: 15px;
    }
    .reels{
        margin-left: 1em;
    }

}
@media (max-width:403px) 
{
    html{
        font-size: 13px;
    }
    .reels{
        margin-left: .2em;
    }

}